* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header {
  background: cyan;
  padding: 20px 0;
}

.container {
  width: 98%;
  margin: 0 auto;
}
.home-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background: rgb(37, 116, 120);
  h1 {
    font-size: 20px;
  }
  button {
    transition: 0, 5s;
    border: none;
    font-size: 4pc;
    background: none;
    color: red;
    cursor: pointer;
    position: absolute;
    margin-top: -18pc;
    margin-left: 12pc;
  }
}
.home {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5pc;
}
